body {
    background: #4e4e4e;
}

aside {
    color: white;
    float: left;
    width: 10%;
    background: #3b3b3b;
    padding: 0.5%;
    height: 100vh;
    border-right: 4px solid #444444;
}

main {
    float: left;
}

#results ul {
    list-style: none
}

#results ul li {

    color: white;
}

#results ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

#results ul a:hover {
    color: #ff4aea;
}

#find-button {
    background: #ff4aea;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.text_logo {
    color: #ff4aea;
    font-weight: bold;
    font-size: 20px;
}

aside ul {
    list-style: none
}

aside ul i {
    margin-right: 4px;
}

aside ul a {
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    transition: transform 50ms linear;
}

aside ul li:hover, aside ul a:hover {
    color: #ff4aea;
    transform: scale(1.02);
}
